@font-face {
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  src: local("Circe regular"),
    url("../fonts/circe-regular.woff") format("woff"),
    url("../fonts/circe-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  src: local("Circe bold"),
    url("../fonts/circe-blod.woff") format("woff"),
    url("../fonts/circe-blod.woff2") format("woff2");
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;

  font-family: "Circe", "Arial", sans-serif;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;

  background-color: #ffffff;
}
